@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.container{
    font-family: 'Poppins', sans-serif;
    width:100%;
     header{
         width:80%;
        //  background: red;}
         margin:0 auto;
         display:flex;
         flex-flow: row wrap;
         justify-content: space-around;
         align-items: center;
         .logo{
         span{
            font-family: 'Alata', sans-serif;
            font-size:2rem;
         }
         span::after{
            content: '';
            background:black;
            width:40px;
            margin:0 auto;
            height:2px;
            display:block;
            transition:all 200ms;
            // visibility: hidden;
            margin-top:10px;
         }
         span:hover::after{
            content: '';
            width:100%;
         }
        }
         nav{
             ul{
                 display:flex;
                 flex-flow:row wrap;
                 list-style:none;
                 
                li{
                   padding:10px;
                   margin:10px;
                   transition: all 500ms;
                     }
                 }
                .bgWhite:hover{
                    background: transparent;
                        // color:white;
                 }
                 .bgWhite:hover a{
                     background:white;
                     -webkit-text-fill-color: transparent;
                     -webkit-background-clip: text;
                 }
                 .bgRed{
                    background:linear-gradient(180deg, #fa0000,#a10000);
                    -webkit-transform: scale(1.1);
                    border-radius:30px;
                    

                    a{
                        color:white;
                        margin-top:30px;
                        text-decoration: none;
                    }
                }
                .bgRed:hover{
                    -webkit-transform: scale(1.2);



                }
                 .bgWhite{
                    border-radius:30px;
                    background:white;
                    position:relative;
                    a{
                        background:linear-gradient(180deg, #fa0000,#a10000);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-decoration: none;
                    }
                 }
                 .bgWhite::after{
                   position: absolute;
                   content:'';
                   z-index:-1;
                   top: -4px; bottom: -4px;
                   left: -4px; right: -4px;
                   background:  linear-gradient(180deg, #fa0000,#a10000);
                   border-radius:30px;
                  }
               
             }
         }
         //index.html
         .mainInfo{
             width:100%;
             margin-top:140px;
             display:flex;
             flex-flow:column wrap;
             
             &__photo{
                width:14%;
                border-radius:200px;
                margin:auto;
                }
             &__name, &__webDeveloper{
                text-align: center;
                }
            &__name{
                font-weight: bold;
                font-size:2rem;

            }
            &__webDeveloper{
                font-size:1.2rem;
            }
            &__skills{
                margin:auto;
                margin-top:20px;
                li{
                    display:inline-block;
                    margin-top:20px;
                    background:linear-gradient(180deg, #fa0000,#a10000);
                    padding:10px;
                    color:white;
                }
            }
            }
           //conocimientos.html
           .knowledges{
               width:80%;
               border:2px solid black;
               margin:20px auto;
               -webkit-box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
            article{
                // margin-left:5%;
                display:flex;
                flex-flow:row wrap;
                justify-content: center;
                p{
                    text-align:center;
                    padding:0px 30px 0 30px;
                    b{
                        font-size:21px;
                        margin-top:15px;
                    }
                }
                h2{
                margin:0;
                margin-top:20px;

                }
                .careers{
                    padding:0;
                    padding:0px 30px 0 30px;

                }
                .careers::after{
                    content:'';
                    display:block;
                    margin:50px auto 20px auto;
                    width:5%;
                    height:3px;
                    background:black;

                }
                ul{
                    margin:auto;
                    // width:20%;
                    display:flex;
                    flex-flow:row wrap;
                    list-style:none;
                    padding:0;
                    position: relative;

                    
                    li{
                        // line-height:30px;
                        padding:5px 20px;
                        background:linear-gradient(180deg, #fa0000,#a10000);
                        margin:10px;
                        position: relative;
                        color:white;        
                        display:block; 
                        ul{
                            display:none;

                            position:absolute;
                            left:0;
                            top:100%;
                           margin-top:20px;
                            // margin:0;
                            // list-style:none;
                            margin:0;
                            // padding:0;
                            z-index:1;
                            background:white;
                            border-top: 2px solid black;
                            border-left: 2px solid black;
                            border-right: 2px solid black;
                            -webkit-box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
                            -moz-box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
                            box-shadow: 2px 11px 55px 0px rgba(0,0,0,0.45);
                            margin-left:0;
                            float:left;
                            // text-align:left;
                            li{ 
                                padding:20px;
                                margin:0px;
                                background:white;
                                color:black;
                                border-bottom: 2px solid black;

                            }
                        }
                        &:hover>ul{
                            // float:right;
                            display:block;
                    }
                    }
                }
            }
           }
     }
